<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Error 404 - Página no encontrada</title>
  <style>
    body {
      background-color: #f8f9fa;
    }
    
    .error-container {
      text-align: center;
      margin-top: 100px;
    }
  </style>
</head>
<body>

  <div class="container error-container">
    <h1 class="display-1">404</h1>
    <p class="lead">Lo sentimos, la página que estás buscando no se encuentra.</p>
    <p>Por favor, verifica la URL e intenta nuevamente.</p>
    <a href="/user/" class="btn btn-primary">Ir a la página de inicio</a>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
